body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }

  button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }
  
  .headerRight ul li{
    display: flex;
    align-items: center;
}
  

  h4{
    font-family: 'Montserrat';
    color: #0071C2;
    line-height: 30px;
    font-weight: 500;
  }
  
  
  a:active, 
  a:hover,  
  a{
    text-decoration: none;
    color: rgb(0, 77, 177);
  }
  
  a{
    cursor: pointer;
  }

p{
  font-size: 18px;
  line-height: 28px;
}


  button{
    height: 50px;
    width: 170px;
    font-size: 18px;
    border-radius: 50px;
    background-color: #0071C2;
    color: #ffff;
  }
  
  button:hover{background-color: #9339FA;}


  h1{
    font-size: 35px;
    font-weight: 500;
    color: #0071C2;
  }

  h2{
    font-size: 24px;
    font-weight: 400;
    color: #0071C2;
  }


  li{
    text-decoration: none;
    list-style-type: none;
  }
  ul{
    list-style: none;
  }

  form{
    display: flex;
    justify-content: center;
}

input {
  all: unset;
}

input, label {
  display:block;
}

.form{
  width: 494px;
  height: 53px;
  background-color: #C2DCEE;
  border-radius: 10px;
  padding-left: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
}